[run]
branch = True
source = cmd_queue

[report]
exclude_lines =
    pragma: no cover
    .*  # pragma: no cover
    .*  # nocover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if trace is not None
    verbose = .*
    ^ *raise
    ^ *pass *$
    if _debug:
    if __name__ == .__main__.:
    .*if six.PY2:

omit =
    cmd_queue/__main__.py
    */setup.py
